.repository-info__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;

  margin-bottom: 4rem;
}

.repository-info__details {
  display: flex;
  align-items: center;
  gap: 1rem;

  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
